
.ipynb_checkpoints/dlnd_tv_script_generation-checkpoint.ipynb
.ipynb_checkpoints/ref1_dlnd_tv_script_generation-checkpoint.ipynb
.ipynb_checkpoints/ref2_dlnd_tv_script_generation-checkpoint.ipynb
__pycache__/helper.cpython-35.pyc
__pycache__/helper.cpython-36.pyc
__pycache__/problem_unittests.cpython-35.pyc
__pycache__/problem_unittests.cpython-36.pyc
checkpoint
params.p
preprocess.p
save.data-00000-of-00001
save.index
save.meta
